alembic==1.7.3
click==8.0.1
Flask==2.0.1
Flask-Admin==1.5.8
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
mysql-connector==2.2.9
python-dotenv==0.20.0
SQLAlchemy==1.4.25
Werkzeug==2.0.1
WTForms==2.3.3
